# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# SQLite databases
*.db

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# macOS
.DS_Store

